<!DOCTYPE html>

{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="{% static "styles/base.css"%}" type="text/css" />
		{% block head_block %}{% endblock %}
	</head>

	<body>
		<div class="x">
			<ul id="nav">
				<li class="logoItem" ><img id="logo" src="{% static "images/zombaez.png" %}" alt="ZombaeZ logo"/>
				<li><a href="">Home</a></li>
				<li><a href="/zombaez/how-to-play/">How to Play</a></li>
				<li><a href="/zombaez/leaderboards/">Leaderboard</a></li>
				<li class="right"><a href="">Log In/Register</a><li>
			</ul>
		</div>
		<div class="content">
            {% block body_block %}{% endblock %}
        </div>
	</body>


</html>