
{% extends 'zombaez/base.html' %}

{% load staticfiles %}

{% block title_block %}
	How to Play
{% endblock %}

{% block head_block %}
	<link rel="stylesheet" href="{% static "styles/how_to_play.css"%}" type="text/css" />
	<script src="{% static 'js/how_to_play.js' %}"></script>
{% endblock %}

{% block body_block %}

		<div id="slideshow">
			<div id="left_third" class="third">
				<img id="left" src="{% static 'images/left.png' %}" onclick="prev()"/>
			</div>
			<div class="wrapper third">
				<img id="1" class="slideshow show"src="{% static 'images/street.png' %}" alt="1" />
				<img id="2" class="slideshow"src="{% static 'images/house.png' %}" alt="2" />
				<img id="3" class="slideshow"src="{% static 'images/items.png' %}" alt="3" />
			</div>
			<div id="right_third" class="third">
				<img id="right" src="{% static 'images/right.png' %}" onclick="next()"/>
			</div>
		</div>
		
		<div id="desc">
			<p id="p1" class="show">You start the game on a street. Your aim is to go into houses and get supplies and save other survivors. To enter a house, press the 'E' key while on a door.</p>
			<p id="p2">When you are inside a house you have many rooms to choose from. To enter a room you must press 'E'. Inside you will find zombies or loot!</p>
			<p id="p3">If you are lucky and find no zombies then you will be told what items you have collected.</p>
		</div>

{% endblock %}