
{% extends 'zombaez/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Leaderboards
{% endblock %}

{% block head_block %}
	<link rel="stylesheet" href="{% static "styles/leaderboards.css"%}" type="text/css" />
	<script src="{% static "js/leaderboards.js" %}"></script>
{% endblock %}

{% block body_block %}
<h3>The best 50 survivors in ZombaeZ</h3>
<div class="tabs">
    <ul class="tab-links">
        <li class="active"><a href="#tab1">Games Played</a></li>
        <li><a href="#tab2">Days Survived</a></li>
        <li><a href="#tab3">ZombaeZ Killed</a></li>
        <li><a href="#tab4">Largest Party</a></li>
		<li><a href="#tab5">Ammunition Collected</a></li>
		<li><a href="#tab6">Food Collected</a></li>

    </ul>
	<!-- A list of tabs relating to sorting based on the statistic selected. Each tab has a table which will be populated by looping through the array specified -->
    <div class="tab-content">
        <div id="tab1" class="tab active">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in total_games_played %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
        </div>
 
        <div id="tab2" class="tab">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in total_days_survived %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
 
        <div id="tab3" class="tab">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in zombies_killed %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
 
        <div id="tab4" class="tab">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in largest_party_size %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
		
		<div id="tab5" class="tab">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in total_ammo_collected %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
		
		<div id="tab6" class="tab">
            <table>
			<tr>
				<th>Username</th>
				<th>Games Played</th>
				<th>Days Survived</th>
				<th>ZombaeZ Killed</th>
				<th>Largest Party</th>
				<th>Ammunition Collected</th>
				<th>Food Collected</th>
			</tr>
			
			{% for player in total_food_collected %}
			<tr>
				<td><a href="/zombaez/view_profile/{{player.username}}">{{player.username}}</a></td>
				<td>{{player.total_games_played}}</td>
				<td>{{player.total_days_survived}}</td>
				<td>{{player.zombies_killed}}</td>
				<td>{{player.largest_party_size}}</td>
				<td>{{player.total_ammo_collected}}</td>
				<td>{{player.total_food_collected}}</td>
			</tr>
			{% endfor %}
			</table>
		</div>
    </div>
</div>

{% endblock %}