{% extends 'zombaez/base.html' %}

{% load staticfiles %}

{% block title_block %}
	Play
{% endblock %}

{% block head_block %}
	<link rel="stylesheet" href="{% static "styles/play.css"%}" type="text/css" />

    <script src="{% static 'js/citymap.js' %}"></script>
    <script src="{% static 'js/hallmap.js' %}"></script>
    <script src="{% static 'js/renderer.js' %}"></script>
{% endblock %}

{% block body_block %}

		<!--<p id="play-button">Debug Info</p>-->
		<!-- Canvas in which the game will be rendered -->
        <canvas id="game_canvas" width=640 height=480 style="border:1px solid #000000;"></canvas>
		<p><b>W:</b> Move/scroll up</p>
        <p><b>A:</b> Move left</p>
        <p><b>S:</b> Move/scroll down</p>
        <p><b>D:</b> Move right</p>
        <p><b>E:</b> Enter door/select option</p>

{% endblock %}
