/*#avatar{
	position: absolute;
    right: 0px;
	width:100%;
	max-width:376px;
	max-height:376px;
	display:block;
	border-style:solid;
	border-width:3px;
	border-color: #701A1A;
	border-radius: 15px;
	box-shadow: 0px 0px 20px #701A1A
}
*/
#wrapper{
	overflow:hidden;
	padding-right:10px;


}

#content{
	text-align:left;
}
hr{
	border-color: #701A1A;
}

table, tr, td{
	text-align:center;
	padding:5px 15px;
	border-style:solid;
	border-width:2px;
	border-color: #701A1A;
	border-collapse: collapse;
	
}

table{
	box-shadow: 0px 0px 20px #701A1A;
}

tr:nth-child(even) {
    background-color: #E0DEDE;
}

tr:nth-child(odd) {
    background-color: #CECECE;
}

#profile_content{
	position: relative;

}

.half{
	width:50%;
			margin-bottom:100px;

}
.right_profile{
	position:absolute;
	top:18.7px;
	right:0px;
}